*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(./images/bg.jpg) no-repeat;
    background-size: cover;
   overflow: hidden;
   background-position: center bottom;
}
.container{
    perspective: 100px;
    perspective-origin: 50% 50%;
}
.runway{
    width: 170px;
    height:780px;
    background-color: black;
    margin: 30px auto;
    box-shadow: 5px 0px 0px #383838, -5px 0px 0px #383838;
    position: relative;
    transform: rotateX(75deg)
}
.runway::after{
    content:'';
    width: 5px;
    height: 100%;
    
    position: absolute;
    left: 50%;
    background-color: white;
    transform: translateX(70px);
   
}
.runway::before{
    content:'';
    width: 5px;
    height: 100%;
    
    position: absolute;
    left: 50%;
    background-color: white;
    transform: translateX(-70px);
   
}
.runway span{
    position: absolute;
    width: 5px;
    height: 100%;
    left: 50%;
    border: 4px dashed white;
}
.plane{
    position: absolute;
    width: 570px;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    transform: scale(.3);
    animation: takeoff 16s linear 3s forwards, landing 12s linear 18s forwards;
}
@keyframes takeoff{
    0%{
        transform: translateY(0px) scale(0.3);
    }
    25%{
        transform: translateY(20px) scale(0.6);
    }
    60%{
        transform: translateZ(80px) scale(0.8);
    }
    80%{
        transform: translatez(100px) rotateZ(20deg) scale(0.9);
    }
    100%{
        transform: translateZ(200px) scale(1);
    }

}
@keyframes landing{
    0%{
        transform: translateY(-40px) scale(0.1);
    }
 
    60%{
        transform: translateY(20px) scale(0.8);
    }
    100%{
        transform: translateY(-10px) scale(1.3);
    }
}